html body {
    background-color: rgb(255, 239, 16);

}

h1, h4{
    color: red;
}

input{
    height: 50px; 
    width: 250px; 
    border-radius: 5px; 
    outline: 1px, solid, rgb(237, 237, 237);
}